<html>
<body>
Courses Taken
<br/>

<table border="1px" cellpadding="10px">
<th>Course Code</th><th>Course Name</th><th>Instructor</th><th>Course Credits</th><th>Course Type</th>
{% for item in data %}
<tr>
<td>{{item.0}}</td><td>{{item.1}}</td><td>{{item.2}}</td><td>{{item.3}}</td><td>{{item.4}}</td>
</tr>
{% endfor %}
</table>

Register for course

<form enctype="multipart/form-data" method="POST" action="">
{% csrf_token %}
<table>
<th>Course Code</th><th>Course Name</th><th>Instructor</th><th>Course Credits</th><th>Course Type</th>
{% for item in data %}
    <tr >
        <td><input type="checkbox" name="course_list_to_drop" value="{{item.id}}" /> {{item.0}}</td>
        <td>{{item.1}}</td>
        <td>{{item.2}}</td>
        <td>{{item.3}}</td>
        <td>{{item.4}}</td>
    </tr>
{% endfor %}
</table>
<br /><input type="Submit"/>
<br />
</form>

</body>
</html>