{% extends 'base.html' %}

{% block main %}

    <div class="container-fluid">
      <div class="center-block" style="width:800px">
        <a href="/login/logout/" class="btn btn-warning pull-right" name="logout">Logout</a>
        <h3>Welcome {{user}}</h3>
         <a href="/student/req_prev/" class="btn btn-primary pull-right" name="req_inst_prev">Request Instructor priveledges</a>
      </div>
    </div>

<div class="center-block text-center" style="width:800px">
<div class="alert alert-success" role="alert">
<h3>Current courses, select checkbox drop course</h3>
</div>
<form method="POST" action="/student/delete/">
{% csrf_token %}
<table class="table">
<tr style="background-color:lightgrey">
    <th>Code</th>
    <th>Course Name</th>
    <th>Instructor</th>
    <th>Credits</th>
    <th>Type</th>
    <th></th>
</tr>
{% for item in data %}

<tr>
    <td><input type="checkbox" name="code" value="{{item.0}}" /></td>
    <td>{{item.0}}</td>
    <td>{{item.1}}</td>
    <td>{{item.2}}</td>
    <td>{{item.3}}</td>
    <td>{{item.4}}</td>
</tr>

{% endfor %}
</table>
<input class="btn btn-danger" type="Submit" value="Drop course">
</form>
</div>

<div class="center-block text-center" style="width:800px">
<div class="alert alert-info" role="alert">
<h3>Select from all the offered courses</h3>
</div>
<form method="POST" action="/student/add/">
{% csrf_token %}
<table class="table">
<tr style="background-color:lightgrey">
<th>Code</th>
<th>Course Name</th>
<th>Instructor</th>
<th>Credits</th>
<th>Type</th>
<th></th>
</tr>
{% for item in courses %}

<tr>
    <td><input type="checkbox" name="code" value="{{item.0}}" /></td>
    <td>{{item.1}}</td>
    <td>{{item.2}}</td>
    <td>{{item.3}}</td>
    <td>{{item.4}}</td>
    <td>{{item.5}}</td>
</tr>

{% endfor %}
</table>
<input class="btn btn-primary" type="Submit" value="Add course">
</form>
</div>

{% endblock %}