{% extends 'base.html' %}

{% block main %}

    <div class="container-fluid">
      <div class="center-block" style="width:800px">        
        <h3>Welcome {{user}}</h3>
        <a href="/student/req_prev/" class="btn btn-primary pull-right" name="req_inst_prev">Request Instructor privilege</a><br/><br/>
      </div>
    </div>

<div class="center-block text-center" style="width:800px">
<div class="alert alert-success" role="alert">
<h3>Current courses, select checkbox drop course</h3>
</div>
<form method="POST" action="/student/delete/">
{% csrf_token %}
<table class="table">
<tr style="background-color:lightgrey">
    <th></th>
    <th>Code</th>
    <th>Course Name</th>
    <th>Instructor</th>
    <th>Credits</th>
    <th>Type</th>
</tr>
{% for item in data %}
<tr>
    <td><input type="checkbox" name="code" value="{{item.0}}" /></td>
    <td>{{item.0}}</td>
    <td>{{item.1}}</td>
    <td>{{item.2}}</td>
    <td>{{item.3}}</td>
    <td>{{item.4}}</td>
</tr>
{% endfor %}

{% if messages %}
<tr>
    <div class="container">
    <div class='col-sm-8' >
        {% for message in messages %}
            <p {% if "deletesuccess" in message.tags %} class="alert alert-info"  {% elif "deleteerror" in message.tags %} class="alert alert-danger"{% elif "viewerror" in message.tags %} class="alert alert-danger" {%endif%}> 
                {% if "deletesuccess" in message.tags or "deleteerror" in message.tags%}
                    {{message}}
                {% endif%}
                {% if "viewerror" in message.tags%}
                    {{message}}
                {%endif%}
            </p>
        {% endfor %}
    </div>
</div>
</tr>
{% endif %}

</table>

<input class="btn btn-danger" type="Submit" value="Drop course">
</form>
</div>

<div class="center-block text-center" style="width:800px">
<div class="alert alert-info" role="alert">
<h3>Select from all the offered courses</h3>
</div>
<form method="POST" action="/student/add/">
{% csrf_token %}
<table class="table">
<tr style="background-color:lightgrey">
<th></th>
<th>Code</th>
<th>Course Name</th>
<th>Instructor</th>
<th>Credits</th>
<th>Type</th>
</tr>
{% for item in courses %}

<tr>
    <td><input type="checkbox" name="code" value="{{item.0}}" /></td>
    <td>{{item.1}}</td>
    <td>{{item.2}}</td>
    <td>{{item.3}}</td>
    <td>{{item.4}}</td>
    <td>{{item.5}}</td>
</tr>
{% endfor %}


{% if messages %}
<tr>
    <div class="container">
    <div class='col-sm-8' >
        {% for message in messages %}
            <p {% if "addsuccess" in message.tags %} class="alert alert-info" {% elif "adderror" in message.tags %} class="alert alert-danger"{% endif %}> 
                {% if "addsuccess" in message.tags or "adderror" in message.tags%}
                {{message}}
                {%endif%}
            </p>
        {% endfor %}
    </div>
</div>
</tr>
{% endif %}

</table>
<input class="btn btn-primary" type="Submit" value="Add course">
</form>
</div>

{% endblock %}