{% extends 'base.html' %}

{% block main %}
 <div class="container-fluid">
      <div class="center-block" style="width:800px">
        <a href="/login/logout/" class="btn btn-warning pull-right hide" name="logout">Logout</a>
        <h3>Welcome Prof. {{user}}</h3>
      </div>
    </div>
<div class="center-block text-center" style="width:400px">
<form enctype="multipart/form-data" method="POST" action="/instructor/" class="form-group">
    {% csrf_token %}
    <table class="table">
    <tr><td>Code </td><td><input type="text" class="form-control" name="code" value="" placeholder="Code" /></td></tr>
    <tr><td>Name </td><td><input type="text" class="form-control" name="name" value="" placeholder="Name"></td></tr>
    <tr><td>Credits </td><td><input type="number" class="form-control" name="credits" value="" placeholder="Credits"></td></tr>
    <tr><td>Type </td><td><input type="text" class="form-control" name="type" value="" placeholder="Type"></td></tr>
    <tr><td>Max enroll limit </td><td><input type="number" class="form-control" name="max_enroll_limit" value="0" placeholder="Max limit"></td></tr>
    </table>
    <input class="btn btn-primary" type="Submit" value="Add course">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</form>
</div>

<div class="center-block text-center" style="width:900px">
<div class="alert alert-info" role="alert">
<h3>Courses offered by you in current semester</h3>
</div>
</div>
<div class="center-block text-center" style="width:900px">
<table class="table">
<tr style="background-color:lightgrey">
<th>Code</th>
<th>Course Name</th>
<th>Instructor</th>
<th>Credits</th>
<th>Type</th>
</tr>
{% for item in courses %}

<tr>
    <td>{{item.1}}</td>
    <td>{{item.2}}</td>
    <td>{{item.3}}</td>
    <td>{{item.4}}</td>
    <td>{{item.5}}</td>
</tr>
{% endfor %}
</table>
</div>

{% for course in studentlist %}
<div class="center-block text-center" style="width:900px">
<div class="alert alert-info" role="alert">
<h3>Student who have registered for course {{course.0}} in current semester(Confirmed list)</h3>
</div>
</div>

<div class="center-block text-center" style="width:900px">
<table class="table">
<tr style="background-color:lightgrey">
<th>Sr. no.</th>
<th>Username</th>
<th>Full Name</th>
<th>Email</th>
</tr>

{% for item in course.1 %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{item.1}}</td>
    <td>{{item.2}}</td>
    <td>{{item.3}}</td>
</tr>
{% endfor %}
</table>
</div>

<div class="center-block text-center" style="width:900px">
<div class="alert alert-info" role="alert">
<h3>Student who have registered for course {{course.0}} in current semester(Waiting list)</h3>
</div>
</div>
<div class="center-block text-center" style="width:900px">
<table class="table">
<tr style="background-color:lightgrey">
<th>Sr. no.</th>
<th>Username</th>
<th>Full Name</th>
<th>Email</th>
</tr>
{% for item in course.2 %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{item.1}}</td>
    <td>{{item.2}}</td>
    <td>{{item.3}}</td>
</tr>
{% endfor %}
</table>
</div>


{% endfor %}
{% endblock %}